# Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Dataset and model files
*.csv
*.joblib
*.pkl

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
# .gitignore
train.csv
*.csv
.cache
*.json
.venv/
__pycache__/
